/*========== FREE ART TEMPLATE  ==========*/
/*
Thème créé par Jean-Emmanuel Doucet - 2013. 
Copyleft : cette oeuvre est libre, vous pouvez la copier, la diffuser et la modifier selon les termes de la Licence Art Libre.
http://www.artlibre.org/
*/


/*========== MISC ==========*/
* {
	margin:0;
	padding:0;
}
html, body {
	height:100%;
	background-color:#000;
}
/*========== MISC ==========*/

/*========== HOME PAGE ==========*/
.home-container {
	position:relative;
	height:100%;
	width:100%;
}
	/*== background ==*/
	.bg-focus, .bg-blur {
		background-position:center;
		background-size:cover;
		background-attachment:scroll;
		position:fixed;
		height:100%;
		width:100%;
		top:0;
		left:0;
	}
	.bg-focus {
		transition:opacity 0.4s ease;
	}
	.bg-focus.hide {
		opacity:0;
	}
	
	/*== title ==*/
	.title {
		color:#fff!important;
		color:rgba(255,255,255,0.9)!important;
		z-index:3;
		width:300px;
		padding:0 10px;
		text-align:center;
		margin-top:-160px;
		margin-left:-160px;
		position:fixed;
		top:50%;
		left:50%;
		font-variant:small-caps;
		line-height:18px;
		text-shadow:0 0 2px #000;
		display:block;
		border:0;
		outline:0;
	}
	.title h1 {
		font-size:18px;
		margin:0;
	}
	.title ::selection {
		color:rgba(255,255,255,0.9);
	}
	.title span{
		display:block;
		font-size:13px;
	}
	
	/*== bandcamp player ==*/
	.player {
		z-index:3;
		width:200px;
		height:200px;
		padding:10px;
		position:fixed;
		top:50%;
		left:50%;
		margin:-110px;
		margin-left:-110px;
		background:url(loading2.gif) center no-repeat;
		background-color:#fff;
		opacity:0.9;
		border-radius:110px;
		-webkit-border-radius:110px;
		-moz-border-radius:110px;
		overflow:hidden;	
		box-shadow:0 0 10px 0 #000;
	}
	.player iframe {
		border: 0; 
		margin:0;
		padding:0;
		position:absolute;
		display:block;
		background-color:transparent;
		width:200px;
		height:200px;
	}	

	
	/*== links list ==*/
	.links {
		z-index:3;
		width:300px;
		padding:0 10px;
		text-align:center;
		margin-top:130px;
		margin-left:-160px;
		position:fixed;
		top:50%;
		left:50%;
	}
	.links-list {
		list-style:none;
		display:inline-block;
		background:#fff;
		background:rgba(255,255,255,0.9);
		border-radius:20px;
		box-shadow:0 0 10px 0 #000;
		margin:0;
		text-align:center;
	}
	.links li{
		padding:0;
		display:block;
		float:left;
		width:20px;
		padding:5px;
		outline:0;
		border-right:1px solid #ccc;
		border-left:1px solid #fff;
	}
	.links li:before {
		display:none;
	}
	.links a {
		border:0;
		display:block;
		outline:0;
	}
	.links a span {
		display:none;
	}
	.links li:first-child {
		border-left:0;
		padding-left:7px;
	}
	.links li:last-child {
		border-right:0;
		padding-right:7px;
	}
	.links li:last-child:first-child {
		padding:5px;
	}
	i.fa-bandcamp:before {
		content:"\f04d";
	}
	i.fa-bandcamp {
		transform:skew(-13deg);
	}

	
	/*== scroll-knobs (knob-bottom in .content div ==*/
	#knob {
		width:10px;
		padding:2px 7px;
		height:20px;
		position:absolute;
		top:-40px;
		left:50%;
		margin-left:-12px;
		border:0;
		text-align:center;
		background:#fff;
		opacity:0.9;
		border-radius:12px;
		outline:0;
		box-shadow:0 0 10px 0 #000;
		font-size:14px;
		animation: knob 1.8s ease 3;
	}
	#knob:hover {
		transition:box-shadow 0.2s;
		box-shadow:0 0 3px 0 #fff;
	}
	@keyframes knob
	{
	from   {box-shadow:0 0 10px 0 #000}
	50%   {box-shadow:0 0 3px 0 #fff}
	100%   {box-shadow:0 0 10px 0 #000}
	}
	#knob i, #knob-bottom i {
		vertical-align:middle;
		line-height:20px;
		width: 10px;
		height: 20px;
		font-size:12px;
	}
	#knob-bottom {
		width:10px;
		padding:2px 7px;
		height:20px;
		margin:20px auto 0;
		border:0;
		text-align:center;
		background:#333;
		color:#fff;
		border-radius:12px;
		opacity:0.8;
		outline:0;
		display:block;
	}
/*========== /HOME PAGE ==========*/

/*========== CONTENT PAGE ==========*/
.content-container {
	z-index:4;
	border-top:1px solid #333;
	background:#fff;
	background:rgba(255,255,255,0.9);
	position:relative;
	box-shadow:0 0 10px 0 #000;
}
.content {
	margin:0 auto;
	width:400px;
	text-align:justify;
	padding:0 10px 20px;
	hyphens: auto;
	-moz-hyphens: auto;/* prefixfree.js is too slow for this one;*/
}
/*========== /CONTENT PAGE ==========*/



/*========== MEDIAS FRAMES ==========*/
.vimeo, .bandcamp, .youtube, .dailymotion  {
	height:218px;
	margin-top:20px;
	background-color:#fff;
	background-size:cover;
	background-position:center;
}
.vimeo iframe, .bandcamp iframe, .youtube iframe, .dailymotion iframe  {
	border:0;
	display:block;
	width:100%;
	height:218px;
	background:transparent;
}
.bandcamp iframe, .bandcamp {
	height:120px;
	border:0;
}
.play-button {
    width: 40px;
    height: 40px;
    color: #eee;
    font-size: 16px;
    position: absolute;
	border:0;
	outline:0;
    text-align: center;
    left: 50%;
    top: 50%;
    margin-top: -20px;
    margin-left: -20px;
    display: block;
    line-height: 40px;
	background:#222;
	opacity:0.8;
	border-radius:5px;
}
/*========== /MEDIAS FRAMES ==========*/



/*========== SLIDER ==========*/
.slider {
	height: 218px;
	margin-top:20px;
}
.swiper-container {
	height: 218px;
}	
.swiper-slide {
	height: 218px;
	background-size:cover;
	background-position:center;
	background-color:#000;
	background-repeat:no-repeat;
}
.fullscreen {
	border:1px solid #333!important;
	border-radius:0!important;
}
.fullscreen .swiper-container  {
	height:100%;
}
.fullscreen .fa-expand:before{
	content:"\f066"
}
.fullscreen .fa-compress:before{
	content:"\f065"
}
#layer {
	background:#111;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:999;
	display:none;
}
/*========== /SLIDER ==========*/




/*========== ARTICLES LIST ==========*/
.sub-article-list {
	transition:opacity 0.3s;
	opacity:1;
}
.sub-article-list.loading {
	opacity:0.5;
	background:url(loading2.gif) center no-repeat;
}
.sub-article {
	border-top:1px solid #fff;
	border-bottom:1px solid #ccc;
	padding-bottom:18px;
	padding-left:3px;
	padding-right:3px;
	max-height:40px;
	overflow:hidden;
}
.sub-article.past {
	background: radial-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0));
}
.sub-article.today {
	background: radial-gradient(rgba(255,255,0,0.2), rgba(0,0,0,0));
}

.sub-article:first-child {
	border-top:0;
}
.sub-article .sub-article-title {
	outline:0;
}
.sub-article h3 {
	margin:20px 0 0;
}
.sub-article.focus  {
	max-height:10000px;
}
.sub-article.focus  h3 i.star:before{
	content:"\f006";
}

.sub-article-date {
	float:right;
	font-size:11px;
	
}
.sub-article-list-footer {
	height:19px;
	border-top:1px solid #fff;
}
.sub-article-pagination {
	float:right;
	height:19px;
	line-height:19px;
}
.sub-article-pagination .sep {
	display:none;
}
.sub-article-pagination strong, .sub-article-pagination a {
	min-width:20px;
	display:inline-block;
	text-align:center;
	margin-left:5px;
	background:#fff;
	border:1px solid #ccc;
	border-top:0;
	height:18px;
	line-height:18px;
}
.sub-article-pagination strong {
	background:#ddd;
}
.sub-rss {
	border:1px solid #ccc;
	border-top:0;
	background:#fff;
	width:20px;
	height:18px;
	line-height:18px;
	text-align:center;
}
.sub-article-list-keywords {
	float:left;
	margin-left:5px;
	height:18px;
	line-height:18px!important;
	position:relative;
	border:1px solid #ccc;
	border-top:0;
	background:#fff;
	cursor:pointer;
	transition: color 0.2s;
}
.sub-article-list-keywords:hover {
	color:#FF3333;
}
.sub-article-list-keywords i {
	position:absolute;
	left:0;
	width:20px;
	height:18px;
	line-height:19px;
	text-align:center;
	border-right:1px solid #ccc;
}
.sub-article-list-keywords select {
	border:0;
	outline:0;
	margin-left:20px;
	height:18px;
	cursor:pointer;
	font-size:12px;
	padding-left:2px;
}

.sub-article-keywords {
	margin-top:20px;
	font-size:11px;
}
.sub-article-keywords a{
	border:0px;
}
/*========== /ARTICLES LIST ==========*/

	



	
/*========== GUI ==========*/
.ui-container {
	position:relative;
	background:url(loading2.gif) center no-repeat;
	background-color:#fff;
	border:1px solid rgb(210, 210, 210);
	border-radius:3px;
	overflow:hidden;
}
.ui-container.noborder {
	border:0;
	border-radius:0;
	background-color:transparent;
	background-image:none;
}
.ui-element{
	font-size:16px;
	line-height:20px;
	min-height:20px;
	border:0;
	outline:0;
	color:#fff;
	opacity:0.8;
	background:#222;
	padding: 5px;
	z-index:100;
	display:block;
	position:absolute;
	text-align:center;
}

.center-left, .center-right {
	position:absolute;
	top:50%;
	margin-top:-10px;
}
.center-left {
	left:0;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}
.center-right {
	right:0;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
.bottom-left {
	bottom:0;
	left:0;
	border-top-right-radius:5px;
}
.bottom-right {
	bottom:0;
	right:0;
	border-top-left-radius:5px;
}
.top-right {
	top:0;
	right:0;
	border-bottom-left-radius:5px;
}
.top-left {
	top:0;
	border-bottom-right-radius:5px;
}
.alt {
	display:none;
}
/*========== /GUI ==========*/


/*========== TYPO & GENERATED CONTENT ==========*/
body {
	font-family:sans-serif;
	font-size:13px;
	line-height:20px;
	color:#222;
}
p, h1, h2, h3, blockquote, ul, ol, .spip_image, .footnotes {
	margin-bottom:0px;
	margin-top:20px;
	line-height:20px;
}
h1 {
	font-size:20px;
	text-align:center;
	font-variant:small-caps;
}
h2 {
	font-size:15px;
	text-align:center;
	background:#333;
	color:#fff;
	font-variant:small-caps;
	height:20px;
	position:relative;
	margin:25px 0px -5px;
	z-index:2;
}
h2:before {
	content:"";
	height:0px;
	border-top:10px solid transparent;
	border-bottom:10px solid transparent;
	border-right:10px solid #333;
	position:absolute;
	left:-10px;
	top:0;
}
h2:after {
	content:"";
	height:0px;
	border-top:10px solid transparent;
	border-bottom:10px solid transparent;
	border-left:10px solid #333;
	position:absolute;
	right:-10px;
	top:0;
}
h3 {
	font-size:14px;
	font-weight:bold;
	margin:25px 0px -5px;
}
hr {
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0,0.3);
	border:0;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-top: 1px solid rgb(204, 204, 204);
	height:0px;
	margin-top:18px;
}

ul {
	list-style:none;
	text-align:left;
}
li ul {
	margin-top:0;
}
ul li ul li {
	padding-left:20px;
}
ul li:before  {
	height:0;
	content:"\f0da";
	font-family:FontAwesome;
}
ol {
    counter-reset:li;
	text-align:left;
}
li ol {
	margin-top:0;
}
ol li {
    list-style:none;
}
ol li ol li {
 padding-left:20px
}
ol > li:before {
    content:counter(li)".";
    counter-increment:li;
    width:15px;
    display:inline-block;
}

a {
	font-weight:bold;
	text-decoration:none;
	color:#333;
	transition:color 0.2s;
}
a:hover, #knob-bottom:hover  {
	color:#ff3333;
}

.align-center, .center {
	text-align:center;
}
.align-right {
	text-align:right;
}
.float-left {
	float:left;
}
.float-right{
	float:right;
}
.float-center{
	margin-left:auto;
	margin-right:auto;
}

.spip_note_ref {
	font-size:11px;
	vertical-align:super;
}
.spip_note {
	vertical-align:middle;
}
.footnotes {
	border-top:1px solid #aaa;
}
.footnotes p {
	margin:0;
}

blockquote {
	padding-left:20px;
	position:relative;
	font-style:italic;
}
blockquote:before {
	font-family:'FontAwesome';
	content:"\f10d";
	position:absolute;
	left:2px;
	top:0;
	opacity:0.5;
	font-style:normal;
}
.info {
	padding-left:20px;
	position:relative;
	font-style:italic;
}
.info:before {
	font-family:'FontAwesome';
	content:"\f05a";
	position:absolute;
	left:2px;
	top:0;
	opacity:0.5;
	font-style:normal;
}
.warn {
	padding-left:20px;
	position:relative;
	font-style:italic;
}
.warn:before {
	font-family:'FontAwesome';
	content:"\f071";
	position:absolute;
	left:2px;
	top:0;
	opacity:0.5;
	font-style:normal;
}
.spip_out:before {
	content:"\f0ac";
	font-family:'FontAwesome';
	margin-right:3px;
	font-weight:normal;
}
.spip_in:before {
	content:"\f0a9";
	font-family:'FontAwesome';
	margin-right:3px;
	font-weight:normal;
}
.spip_mail:before {
	content:"\f0e0";
	font-family:'FontAwesome';
	margin-right:3px;
	font-weight:normal;
}
.spip_document:before {
	content:"\f15b";
	font-family:'FontAwesome';
	margin-right:3px;
	font-weight:normal;
}
.spip_size {
	font-size: 8px;
	line-height: 8px;
	vertical-align: middle;
	display: inline-block;
}
.spip_size span {
	display:table-row;
}
.spip_image {
	max-width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.spip_image.float-right {
	margin-left:20px;
}
.spip_image.float-left {
	margin-right:20px;
}
.spip_image img {
	display:block;
	width:100%;
	height:auto;
}
.clear {
	clear:both;
}
.normal {
	font-size:13px;
}
iframe {
	display:block;
}


/*========== /TYPO & GENERATED CONTENT ==========*/

/*========== RESPONSIVENESS ==========*/
@media only screen and (max-width: 440px) {

.content {
	width:auto;
	padding: 0 20px 10px;
}
.bg-focus, .bg-blur, .title, .player, .links {
	position:absolute;
}
.player {
background:rgba(255,255,255,0.9);
opacity:1;
}


}
@media only screen and (max-height: 390px) {
#knob {
	display:none;
}
}
/*========== /RESPONSIVENESS ==========*/
